@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso restringido";
}

<header>
    <h1 class="text-danger">No tienes los permisos requeridos</h1>
    <p class="text-danger">No tienes Acceso a tal opcion</p>
</header>
