@model GameCatalog.Models.GeneroJuego

@{
    ViewData["Title"] = "Edit";
}
<div class="p-3">
<h1>Edita los datos que desees</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GeneroId" />
            <div class="form-group">
                    <label asp-for="NombreGenero" class="control-label">Nombre del Genero</label>
                <input asp-for="NombreGenero" class="form-control" />
                <span asp-validation-for="NombreGenero" class="text-danger"></span>
            </div>
            <div class="form-group">
                    <label asp-for="DescripcionGenero" class="control-label">Descripcion del Genero</label>
                <input asp-for="DescripcionGenero" class="form-control" />
                <span asp-validation-for="DescripcionGenero" class="text-danger"></span>
            </div>
                <div class="form-group d-flex justify-content-end gap-2 pt-3">
                <input type="submit" value="Guardar" class="btn btn-outline-primary" />
                    <a class="btn btn-outline-secondary" asp-action="Index">Volver</a>
            </div>
        </form>
    </div>
</div>


</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
