@model IEnumerable<GameCatalog.Models.Disponibilidad>

@{
    ViewData["Title"] = "Disponibilidad";
}
<div class="p-2">
    @if(Model.Count() > 0)
    {
          <table class="table">
    <thead>
        <tr>
            <th>
                  Disponibilidades
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDisponibilidad)
            </td>
            <td>
                <a class="btn btn-outline-success" asp-action="Edit" asp-route-id="@item.DisponibilidadId">Editar</a> |
                <a class="btn btn-outline-secondary" asp-action="Details" asp-route-id="@item.DisponibilidadId">Detalles</a> |
                <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.DisponibilidadId">Borrar</a>
            </td>
        </tr>
}
    </tbody>
        </table>
    }
    else
    {
        <p>No hay disponibilidades registradas</p>
    }
    <div class="d-flex justify-content-end pt-2">
        <a asp-action="Create" asp-controller="Disponibilidad" class="btn btn-primary">Agregar disponibilidad</a>
    </div>
</div>